[submodule "Modules/Intent.RelationalDbSchemaImporter.Tests/TestData/ExtendedTests"]
	path = Modules/Intent.RelationalDbSchemaImporter.Tests/TestData/ExtendedTests
	url = https://github.com/IntentArchitect/Intent.Modules.Importers.ExtendedDbTests.git
	branch = master
